<!-- IF S_FUNCAPTCHA_AVAILABLE -->
	<table class="KeyCAPTCHA_def_tpl">
		<tr class="KeyCAPTCHA_def_tpl">
			<b class="KeyCAPTCHA_def_tpl">{L_FUNCAPTCHA_TASK_HEADER}: &nbsp; {L_FUNCAPTCHA_TASK_EXPLAIN}</b>
		</tr>
		<tr class="KeyCAPTCHA_def_tpl">
			{FUNCAPTCHA_CODE}
		</tr>
	</table class="KeyCAPTCHA_def_tpl">
	<input type="hidden" name="kc_response_field" id="kc_response_field" value="false" />
	<noscript>
		{L_FUNCAPTCHA_MESSAGE_NOSCRIPT}
	</noscript>
<!-- ELSE -->
	{L_FUNCAPTCHA_MESSAGE_NA}
<!-- ENDIF -->
